.body1 {
  height: 100vh !important;

  background: rgb(203, 203, 203);
  background: radial-gradient(circle, rgba(203, 203, 203, 1) 42%, rgba(169, 172, 197, 1) 100%);

}


@media(max-width:320px) {
  .card {
    width: 100%;
  }
}


@media(max-width:280px) {
  .card {
    width: 100%;
  }
}