.button{

    border-radius: 30px;

}

@media(max-width:320px){
    .nav{
        width: 100%;
    }
  }
  
  
  @media(max-width:280px){
    .nav{
        width: 100%;
    }
  }
.log{
    justify-content: center;
}
